* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  width: 80%;
  margin: auto;
  position: relative;
}

nav {
  height: 100px;
  display: flex;
}

.sx-el {
  display: inline-block;
  display: flex;
  bottom: 0;
  left: 0;
  position: absolute;
}

.sx-el > * {
  flex-direction: row;
  align-items:center;
  display: flex;
}

.sx-el > span {
  margin-left: 10px;
}

.sx-el > img {
  width: 50px;
  float: left;
  display: inline-block;
}

.dx-el {
  position: absolute;
  float: right;
  display: flex;
  bottom: 0;
  right: 0;
}

.dx-el ul > li {
  position: relative;
  list-style: none;
  margin-left: 10px;
  float: left;
}

.dx-el ul li > .dropdownContent {
  position:absolute;
}

.dropdownContent {
  width: 100px;
  height: 200px;
  background-color: purple;
  display: none;
}

.dropdownContent.active {
  display: block;
}
